[jails_host]
jailhost.domain

[jail_poudriere]
poudriere.jailhost.domain ip=172.16.0.1 ansible_ssh_host=jailhost.domain ansible_ssh_port=2000 name=poudriere

[jail_nginx]
nginx.jailhost.domain ip=172.16.0.2 ansible_ssh_host=jailhost.domain ansible_ssh_port=2001  name=nginx

[jails:children]
jail_poudriere
jail_nginx

[all:vars]
pkgng_repository=https://pkg.cdn.pcbsd.org/9.1-RELEASE/amd64
